<!-- 為了測試用，先弄個簡易版印出內容 -->
<h1>Issue Page</h1>

<h3>標題: <%= @issue.title %></h3>

<!-- 草稿顯示區 -->
<div>
  <% if @issue.draft %>
  <h6 class="label label-default">Draft</h6>
  <% else %>
  <h6 class="label label-success">Published</h6>
  <% end %>
</div>


<!-- 作者操作區 -->
<div>
  <% if @issue.user == current_user %>
    <%= link_to "Edit", edit_issue_path(@issue) %> |
    <%= link_to "Delete", issue_path(@issue), method: :delete, data: { confirm: "確認要刪除這篇議題嗎?" } %>
  <% end %>  
</div>


<h5>Content:</h5>
<%=raw @issue.content %>

<h5>Topics:</h5>
<% @issue.taged_topics.each do |topic| %>
  <%= topic.name %>
<% end %>

<br>
<%= link_to "Index", root_path %>