<div class="container col-lg-12 main">
  <div class="col-lg-12 post">
    <div class="container">
      <h2><%= @issue.title %></h2>
      <div class="body-text">
        <p class='text-muted'>By <%= @issue.user.name %> | <%= @issue.edit_time.localtime.to_s(:long) %></p>
        <% if @issue.draft %>
          <h6 class="label label-default">Draft</h6>
        <% else %>
          <h6 class="label label-success">Published</h6>
          <h5>標籤:
            <% @issue.taged_topics.each do |topic| %>
              <span class="label label-info"><%= topic.name %></span>
            <% end %>
          </h5>
          <div class="col-lg-8", style="padding-left: 0px">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= @issue.likes_count %> | 
            <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> <%= @issue.bookmarks_count %> | 
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            <% link = "http://graph.facebook.com/?id="+request.original_url %>
            <% @issue.update_share_count(@issue, link) %><%= @issue.shares_count %> |
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= @issue.comments_count %>
            <% if @issue.user != current_user %>
            <% @issue.view_count_increment(@issue) %>
               | <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= @issue.views_count %>
            <% end %>
          </div>
        <% end %>
        <div class="col-lg-4 text-right">
          <% if @issue.user == current_user %>
            <%= link_to "Edit", edit_issue_path(@issue) %> |
            <%= link_to "Delete", issue_path(@issue), method: :delete, data: { confirm: "確認要刪除這篇議題嗎?" } %>
          <% end %>  
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <%=raw @issue.content %>
          </div>
        </div>
        <div class="text-right">
          <% if @issue.draft == false %>
            <!-- like/unlike -->
            <% if @issue.is_liked?(current_user) %> 
              <%= link_to 'Unlike', like_path(@issue), method: :delete, class: "btn btn-info btn-sm" %>
            <% else %>
              <%= link_to 'Like', likes_path(issue_id: @issue), method: :post, class: "btn btn-primary btn-sm" %>
            <% end %>

            <!-- bookmark/unbookmark -->
            <% if @issue.is_bookmarked?(current_user) %> 
              <%= link_to '取消收藏', bookmark_path(@issue), method: :delete, class: "btn btn-info btn-sm" %>
            <% else %>
              <%= link_to '收藏', bookmarks_path(issue_id: @issue), method: :post, class: "btn btn-primary btn-sm" %>
            <% end %>

            <!-- Facebook share button -->
            <!-- 套用GEM, 要修給這個button的格式，請到app/assets/stylesheets/application.scss -->
            <%= social_share_button_tag('分享到Facebook', :url => request.original_url, desc: @issue.title, style: "vertical-align: middle")  %>
          <% end %>
        </div>
        <hr>
        <div class="col-lg-12">
          <div class="comments">
            <%= form_for [ @issue, @comment ] do |f| %>
              <div class="comment-wrap">
                <div class="comment-block">
                  <div class="form-group">
                    <%= f.text_area :content, placeholder: "留下你的評論...", class: "form-control", rows: "3" %>
                  </div>
                  <div class="form-group text-right">
                    <%= f.submit '留言', class: "btn btn-primary btn-xs" %>
                  </div>
                </div>
              </div>
            <% end %>
            <% @comments.each do |comment| %>
              <div class="comment-wrap">
                <div class="comment-block">
                  <p class="comment-text"><%= comment.content %></p>
                  <div class="bottom-comment">
                    <div class="comment-date">by <%= comment.user.name %> | <%= time_ago_in_words(comment.created_at) %> ago</div>
                  </div>
                  <br>
                  <div class="col-lg-12">
                    <%= form_for [ @issue, comment, @reply ] do |f| %>
                      <%= f.text_field :content, placeholder: "回覆留言", class: "form-control" %>
                    <%= f.submit '回覆', class: "btn btn-primary btn-xs" %>
                    <% end %>
                  </div>
                  <div class="col-lg-12" style="margin-top: 10px;" >
                    <a data-toggle="collapse" href="#<%= comment.id %>" aria-expanded="false" aria-controls="<%= comment.id %>">
                      查看回覆(<%= comment.replies.count %>)
                    </a>
                    <div class="collapse" id="<%= comment.id %>">
                      <% comment.replies.each do |reply| %>
                        <div class="card card-body">
                          <%= reply.content %>
                        </div>
                        <div class="bottom-comment">
                          <div class="comment-date">by <%= reply.user.name %> | <%= time_ago_in_words(reply.created_at) %> ago</div>
                          <% if reply.user == current_user %>
                              | <%= link_to 'Delete', issue_comment_reply_path(@issue, comment, reply), method: :delete, data: { confirm: "刪除回應?" } %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>