<h1> Index </h1>

<!-- 以下是topic測試用 -->
<% @hot_topics.each do |topic| %>
  <%= topic.name %> (<%= topic.topic_tagships_count %>)<br>
  <h3><%= link_to "#{topic.name}", topic_path(topic.id, :center => topic.id, :page_num => 0) %></h3>
<% end %>

<!-- 以下是issue測試用 暫時無用-->
<p>--------以下是issue測試用--------</p>
<% @issues.each do |issue| %>
  <%= link_to issue_path(issue) do %>
    <%= issue.title %>
  <% end %>
  <br>
<% end %>