<div class="container">
  <div class="row">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Explore for learing <br/> 
                   and find your "X" !</h1>
            </div>
          </div>
        </div>
        <% @hot_issues.limit(3).each do |hot_issue| %>
        <div class="item">
          <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><%= hot_issue.title %></h1>
              <h4><%= truncate(strip_tags(hot_issue.content), length: 100, ommission: '...' ) %></h4>
              <p><%= link_to "瀏覽更多", issue_path(hot_issue), class: "btn btn-lg btn-primary" %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
  </div>
</div>

<!--hot topics -->
<div class="container">
  <div class="row">
    <hr class="hr-primary" />
      <ol class="breadcrumb bread-primary">
        <div class="btn btn-primary">熱門主題</div>
        <% @hot_topics.each do |topic| %>
          <li><%= link_to "#{topic.name}", topic_path(topic.id, :center => topic.id, :page_num => 0) %></li>
        <% end %> 
      </ol>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!-- Tabs
      ================================================== -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#hotissue" data-toggle="tab">熱門議題</a></li>
        <li><a href="#hotissue_of_hotauthor" data-toggle="tab">熱門作者的議題</a></li>
        <% if current_user %>
          <li><a href="#hottopic" data-toggle="tab">關注主題</a></li>
          <li><a href="#following" data-toggle="tab">追蹤者</a></li>
        <% end %>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="hotissue">
          <!-- 全站熱門議題 -->
          <% @hot_issues.find_each do |hot_issue| %>
            <%= render partial: "brief_issue", locals: { issue: hot_issue } %>
          <% end %>
          <div style="text-align: center"> 
            <%= paginate @hot_issues %>
          </div>
          <!--<div style="text-align: center">
          </div>-->
        </div>
        <div class="tab-pane fade" id="hotissue_of_hotauthor">
          <!-- 熱門作者的最新文章 -->
          <% @hot_users_issues.each do |hot_user_issue| %>
            <%= render partial: "brief_issue", locals: { issue: hot_user_issue } %>
          <% end %>
          <div style="text-align: center"> 
            <%= paginate @hot_users_issues %>
          </div>
        </div>
        <div class="tab-pane fade" id="hottopic">
          <!-- 關注topic的最新文章 -->
          <% if current_user %>
            <% @topic_followings_issues.find_each do |topic_followings_issue| %>
              <%= render partial: "brief_issue", locals: { issue: topic_followings_issue } %>
            <% end %>
          <% end %>
          <div style="text-align: center">
            <%= paginate @topic_followings_issues %>
          </div>
        </div>
        <div class="tab-pane fade" id="following">
          <!-- 關注作者的最新文章 -->
          <% if current_user %>
            <% @followings_issues.find_each do |followings_issue| %>
              <%= render partial: "brief_issue", locals: { issue: followings_issue } %>
            <% end %>
          <% end %>
          <div style="text-align: center">
            <%= paginate @followings_issues %>
          </div>
        </div>
      </div><!-- /.tabs -->
    </div>
    <div class="col-md-3 text-center">
      <div class="panel panel-default user_panel">
        <div class="panel-heading">
            <h3 class="panel-title text-center">熱門作者</h3>
        </div>
        <div class="panel-body">
          <div class="table-container">
            <table class="table-users table" border="0">
              <tbody>
                <% @hot_users.each do |hot_user| %>
                  <tr>
                    <td width="10" align="center">
                      <% if hot_user.avatar? %>
                        <%= image_tag hot_user.avatar.url, width: '50', class: "pull-left img-circle nav-user-photo"  %>
                      <% else %>
                        <span class="glyphicon glyphicon-user"></span>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to user_path(hot_user) do %>
                        <%= hot_user.name %>
                      <% end %>
                      <br>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>