<h1> Index </h1>

<!-- 以下是topic測試用 -->
<% @hot_topics.each do |topic| %>
  <%= topic.name %> (<%= topic.followers_count %>)<br>
  <h3><%= link_to "#{topic.name}", topic_path(topic.id, :center => topic.id, :page_num => 0) %></h3>
<% end %>

<!-- 以下是user測試用 -->
<p>--------以下是user測試用--------</p>
<% if current_user %>
  Hi, <%= current_user.name %>
  </br>
    This is your email: <%= current_user.email %>
  </br>
    <%= link_to('個人檔案', user_path(current_user)) %> |
    <%= link_to('登出', destroy_user_session_path, method: :delete) %> |
    <%= link_to('修改密碼', edit_user_registration_path) %>
<% else %>
    <%= link_to('註冊', new_user_registration_path) %> |
    <%= link_to('登入', new_user_session_path) %> |
    <%= link_to "Facebook登入/註冊", user_facebook_omniauth_authorize_path %> |
    <%= link_to "Google登入/註冊", user_google_oauth2_omniauth_authorize_path %>
<% end %>
</br></br>

<!-- 以下是issue測試用 -->
<p>--------以下是issue測試用--------</p>
<%= link_to "Create Issue", new_issue_path %>

<% @issues.each do |issue| %>
  <h3><%= issue.title %></h3> 
  <%= link_to "Show", issue_path(issue) %> |
  <% if issue.user == current_user %>
    <%= link_to "Edit", edit_issue_path(issue) %> |
    <%= link_to "Delete", issue_path(issue), method: :delete %>
  <% end %>
<% end %>