<div class="container">
  <div class="row">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "carousel-bg2.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1 style="margin-bottom: 70px">Explore for learing 
                   and find your "X"</h1>
            </div>
          </div>
        </div>
        <% @hot_issues.limit(3).each do |hot_issue| %>
        <div class="item">
          <%= image_tag "carousel-bg2.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= hot_issue.title %></h1>
              <h4><%= truncate(strip_tags(hot_issue.content), length: 100, ommission: '...' ) %></h4>
              <p><%= link_to "瀏覽更多", issue_path(hot_issue), class: "btn btn-primary btn-custom" %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
  </div>
</div>

<!--hot topics -->
<div class="container">
  <div class="row">
    <hr class="hr-primary" />
      <ol class="breadcrumb bread-primary">
        <div class="label label-primary", style="font-size: 100%">熱門主題</div>
        <% @hot_topics.each do |topic| %>
          <li><%= link_to "#{topic.name}", topic_path(topic.id, :center => topic.id, :page_num => 0) %></li>
        <% end %> 
      </ol>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <!-- Tabs
      ================================================== -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#hotissue" data-toggle="tab">熱門議題</a></li>
        <li><a href="#hotissue_of_hotauthor" data-toggle="tab">熱門作者的議題</a></li>
        <% if current_user %>
          <li><a href="#hottopic" data-toggle="tab">關注主題</a></li>
          <li><a href="#following" data-toggle="tab">追蹤者</a></li>
        <% end %>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="hotissue">
          <!-- 全站熱門議題 -->
          <%= render partial: "brief_issue", locals: { issues: @hot_issues } %>
          <div style="text-align: center"> 
            <%= paginate @hot_issues, param_name: "hot_issues_page" %>
          </div>
        </div>
        <div class="tab-pane fade" id="hotissue_of_hotauthor">
          <!-- 熱門作者的最新文章 -->
          <%= render partial: "brief_issue", locals: { issues: @hot_users_issues } %>
          <div style="text-align: center"> 
            <%= paginate @hot_users_issues, param_name: "hot_users_issues_page" %>
          </div>
        </div>
        <div class="tab-pane fade" id="hottopic">
          <!-- 關注topic的最新文章 -->
          <% if current_user %>
            <%= render partial: "brief_issue", locals: { issues: @topic_followings_issues } %>
            <div style="text-align: center">
              <%= paginate @topic_followings_issues, param_name: "topic_followings_issues_page" %>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="following">
          <!-- 關注作者的最新文章 -->
          <% if current_user %>
             <%= render partial: "brief_issue", locals: { issues: @followings_issues } %>
            <div style="text-align: center">
              <%= paginate @followings_issues, param_name: "followings_issues_page" %>
            </div>
          <% end %>
        </div>
      </div><!-- /.tabs -->
    </div>
    <div class="col-xs-3 text-center">
      <div class="panel panel-default user_panel">
        <div class="panel-heading">
            <h3 class="panel-title text-center">熱門作者</h3>
        </div>
        <div class="panel-body">
          <div class="table-container">
            <table class="table-users table" style="margin-bottom: 0px;">
              <tbody>
                <% @hot_users.each do |hot_user| %>
                  <tr>
                    <td class="col-xs-1" align="center">
                      <% if hot_user.avatar? %>
                        <%= link_to image_tag(hot_user.avatar.url, width: '80', class: "img-circle nav-user-photo"), user_path(hot_user)  %>
                      <% else %>
                        <span class="glyphicon glyphicon-user"></span>
                      <% end %>
                      <br>
                      <%= link_to hot_user.name, user_path(hot_user) %>
                    </td>
                    <td class="col-xs-2" align="center">
                      <%= hot_user.followers.count %> 追隨者
                      <% if hot_user.skill_list.count >0 %>
                        <p></p>
                        <% hot_user.skill_list.take(2).each do |skill|%>
                          <span class="label label-success"><%= skill %></span>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>