<div class="container">
  <h1><strong class="text-danger"><%= @search %></strong>的搜尋結果：</h1>
</div>
<div class="container">
  <div class="row">
    <div data-spy="scroll" class="tabbable-panel">
      <div class="tabbable-line">
        <ul class="nav nav-tabs ">
          <li class="active">
            <a href="#related_issue" data-toggle="tab">
            相關議題 (<%= @issues.size %>) </a>
          </li>
          <li>
            <a href="#related_topic" data-toggle="tab">
           相關主題 (<%= @topics.size %>)</a>
          </li>
          <li>
            <a href="#related_author" data-toggle="tab">
            相關作者 (<%= @users.size %>)</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="related_issue">
            <!-- 議題文繞圖 -->
            <div class="container">
              <% if @issues.any? %>
                <%= render :partial => 'brief_issue', locals: { issues: @issues } %>
                <div class="paginator", style="text-align: center"> 
                  <%= paginate @issues, param_name: "search_issue_page" %>
                </div>
              <% else %>
                <%= @issues.size %>筆搜尋結果
              <% end %>
            </div>
          </div>
          <div class="tab-pane" id="related_topic">
            <div class="container">
              <% if @topics.any? %>
                <% @topics.each do |topic| %>
                  <%= link_to "#{topic.name}", topic_path(topic), class: "btn btn-info", style: "margin-bottom: 5px" %>
                <% end %>
              <% else %>
                <%= @topics.size %>筆搜尋結果
              <% end %>
            </div>
          </div>
          <div class="tab-pane" id="related_author">
            <div class="container">
              <% if @users.any? %>
                <%= render :partial => 'users/follow_list', locals: { users: @users } %>
              <% else %>
                <%= @users.size %>筆搜尋結果
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>