<div class="container">
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-heading", style="text-align: center;">
        <h3 class="panel-title">
            <%= @base.name %></h3>
        <span class="glyphicon glyphicon-star", style="float: right;"></span>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @issues.each do |issue| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-2 col-md-1">
                  <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
                </div>
                <div class="col-xs-10 col-mßd-11">
                  <h4><%= link_to "#{issue.title}", issue_path(issue) %></h4>
                  <div class="comment-text">
                    <%= truncate("#{issue.content}", length: 100, omission: "... (continued)") %><%= link_to "瀏覽更多", issue_path(issue) %>
                  </div>
                  <div class="mic-info">
                    <p>
                       by <%= link_to "#{issue.user.name}", user_path(issue.user) %> 
                      | <%= "#{issue.updated_at.to_s(:long)}" %>
                      | <span class="glyphicon glyphicon-comment"></span> <%= "#{issue.comments_count}" %> 則留言
                      | <span class="glyphicon glyphicon-eye-open"></span> <%= "#{issue.views_count}" %> 瀏覽數
                      | <span class="glyphicon glyphicon-heart"></span> <%= "#{issue.likes_count}" %> 讚
                      | <span class="glyphicon glyphicon-bookmark"></span> <%= "#{issue.bookmarks_count}" %> 人收藏
                      | <span class="glyphicon glyphicon-tags"></span> 標籤: 
                        <% issue.taged_topics.take(5).each do |tagged| %>
                          <span class="label label-info"><%= "#{tagged.name}" %></span>
                        <% end %>
                        <% if issue.taged_topics.count > 6 %>
                          ...
                        <% end %>
                    </p>
                  </div>
                  
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="panel-footer", style="text-align: center">
        <div class="row">
          <%= paginate @issues %>
        </div>
      </div>
    </div>
  </div>
</div>