<div class="container">
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-heading", style="text-align: center;">
        <h3 class="panel-title">
            <%= @base.name %></h3>
        <span class="glyphicon glyphicon-star", style="float: right;"></span>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @issues.each do |issue| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-2 col-md-1">
                  <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
                </div>
                <div class="col-xs-10 col-mßd-11">
                  <h4><%= link_to "#{issue.title}", issue_path(issue) %></h4>
                  <div class="comment-text">
                    <%= truncate("#{issue.content}", length: 100, omission: "... (continued)") %><%= link_to "瀏覽更多", issue_path(issue) %>
                  </div>
                  <div class="mic-info">
                    <p>
                       by <%= link_to "#{issue.user.name}", user_path(issue.user) %> 
                      | <%= "#{issue.updated_at.to_s(:long)}" %>
                      | <span class="glyphicon glyphicon-comment"></span><%= "#{issue.comments_count}" %> 則留言
                      | <span class="glyphicon glyphicon-eye-open"></span> <%= "#{issue.views_count}" %> 瀏覽數
                      | <span class="glyphicon glyphicon-heart"></span> <%= "#{issue.likes_count}" %> 讚
                      | <span class="glyphicon glyphicon-bookmark"></span> <%= "#{issue.bookmarks_count}" %> 人收藏
                      | <span class="glyphicon glyphicon-tags"></span> 標籤: 
                        <% issue.taged_topics.take(5).each do |tagged| %>
                          <span class="label label-info"><%= "#{tagged.name}" %></span>
                        <% end %>
                        <% if issue.taged_topics.count > 6 %>
                          ...
                        <% end %>
                    </p>
                  </div>
                  
              </div>
            </li>
          <% end %>
        </ul>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              <h6>
                Total Count <span class="label label-info">25</span></h6>
            </div>
            <div class="col-md-6">
              <ul class="pagination pagination-sm pull-right">
                <li class="disabled"><a href="javascript:void(0)">«</a></li>
                <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="http://www.jquery2dotnet.com">2</a></li>
                <li><a href="http://www.jquery2dotnet.com">3</a></li>
                <li><a href="http://www.jquery2dotnet.com">4</a></li>
                <li><a href="http://www.jquery2dotnet.com">5</a></li>
                <li><a href="javascript:void(0)">»</a></li>
              </ul>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
      </div>
      <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>