<div class="container">
  <!-- Draw system Xmap with d3.js -->
  <!-- 為檢視方便暫時搬至此處，請依排版需求調整 （完成後此註解可刪） -->
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default text-center">
        <div class="panel-heading">熱門主題</div>
        <% @hot_topics.each do |topic| %>
          <div class="panel-body">
            <%= link_to "#{topic.name}", topic_path(topic.id, :page_num => 0) %>
          </div>
        <% end %>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            Xmap
            <span class="info text-left">
              <span class="glyphicon glyphicon-info-sign glyphicon-c" ></span>
              <p class="info-list">點擊中心點：進入該主題頁</p>
              <p class="info-list">點擊旁支：探索相關主題</p>
              <p class="info-list">圖層：Xmap顯示範圍</p>
            </span>
          </div>
          <p></p>
          <!-- Select system Xmap scale -->
          <div class="btn-group">
            <i class="dropdown-arrow dropdown-arrow-inverse"></i>
            <button class="btn btn-primary status", style="width: 75%;">圖層</button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-inverse dropdown-menu-c ">
              <li>
                <%= link_to "0 層", topic_path(@base.id, :center => @center.id, :from => @center.id, :page_num => 0, :scale => 0) %>
              </li>
              <li>
                <%= link_to "1 層", topic_path(@base.id, :center => @center.id, :from => @center.id, :page_num => 0, :scale => 1) %>
              </li>
              <li>
                <%= link_to "2 層", topic_path(@base.id, :center => @center.id, :from => @center.id, :page_num => 0, :scale => 2) %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <svg class="col-md-10" id="map"></svg>
    <script>
      var width  = $('#map').innerWidth();
      var height = $(window).innerHeight()*0.8;
      var topics = <%= raw(@topics.to_json) %>;
      var links  = <%= raw(@links.to_json) %>;
      var max_layer = <%= @scale %>;
      xmap(topics, links, max_layer, width, height);
    </script> 
  </div>
  <!-- Show system Xmap View log -->
  <!-- 為檢視方便暫時搬至此處，請依排版需求調整 （完成後此註解可刪）-->
  <% if @logs.count > 0 %>
    <div class="row">
      <div>瀏覽過的主題:</div>
      <% @logs.each do |log| %>
        | <span>
          <%= link_to "#{log.name}", topic_path(log.id, :center => log.id, :from => @center.id, :page_num => 0, :scale => @scale) %>
        </span>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-heading", style="text-align: center;">
        <h3 class="panel-title"><%= @base.name %></h3>
        <div id="follow-topic">
          <% if current_user && current_user.followingtopic?(@base) %>
            <%= link_to topic_followship_path(@base), remote: true, method: :delete do %>
              <span class="glyphicon glyphicon-star">關注中</span>
            <% end %>
          <% elsif current_user %>
            <%= link_to topic_followships_path(:topic_id => @base), remote: true, method: :post do %>
              <span class="glyphicon glyphicon-star-empty">關注</span>
            <% end %>
          <% else %>
            <%= link_to topic_followships_path(:topic_id => @base), method: :post do %>
              <span class="glyphicon glyphicon-star-empty">關注</span>
            <% end %>            
          <% end %>           
        </div>
           
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @issues.each do |issue| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2 text-center">
                  <!-- 抓第一張圖 -->
                  <%= image_tag issue.cover, class: "img-responsive img-rounded" %>
                </div>
                <div class="col-md-10">
                  <h3 style="margin-top: 0px"><%= link_to "#{issue.title}", issue_path(issue) %></h3>
                  <div class="comment-text">
                    <% if strip_tags(issue.content).length > 150 %>
                      <%= truncate(strip_tags(issue.content), length: 150 ) %><%= link_to "瀏覽更多", issue_path(issue), class: "custom-a" %>
                    <% else %>
                      <%= strip_tags(issue.content) %>
                    <% end %>
                  </div>
                  <div class="mic-info">
                    <p>
                       作者 <%= link_to "#{issue.user.name}", user_path(issue.user) %> 
                      | <%= "#{issue.edit_time.localtime.to_s(:db)}" %>
                      | <span class="glyphicon glyphicon-comment"></span> <%= "#{issue.comments_count}" %> 則留言
                      | <span class="glyphicon glyphicon-eye-open"></span> <%= "#{issue.views_count}" %> 瀏覽數
                      | <span class="glyphicon glyphicon-heart"></span> <%= "#{issue.likes_count}" %> 讚
                      | <span class="glyphicon glyphicon-bookmark"></span> <%= "#{issue.bookmarks_count}" %> 人收藏
                      <p></p>
                      <span class="glyphicon glyphicon-tags"></span> 標籤: 
                        <% issue.taged_topics.take(5).each do |topic| %>
                          <%= link_to "#{topic.name}", topic_path(topic), class: "label label-info label-custom" %>
                        <% end %>
                        <% if issue.taged_topics.count > 6 %>
                          <span class="label label-info label-custom">...</span>
                        <% end %>
                    </p>
                  </div>
                  
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="panel-footer", style="text-align: center">
        <div class="row">
          <%= paginate @issues %>
        </div>
      </div>
    </div>
  </div>
</div>