<div class="container">
  <div class="row">
    <svg></svg>
    <script>
      var width = 960;
      var height = 600;
      var svg = d3.select("svg").attr("width", width).attr("height", height)
      var topics = <%= raw(@topics.to_json) %>
      var links  = <%= raw(@links.to_json) %>
      xmap(svg, topics, links, width, height);
    </script>
  </div>
  <div class="row">
    <% @logs.each do |log| %>
      <div class="col-xs-2 col-md-1">
        <%= "#{log.name}" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-heading", style="text-align: center;">
        <h3 class="panel-title">
            <%= @base.name %></h3>
        <span class="glyphicon glyphicon-star", style="float: right;"></span>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @issues.each do |issue| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-2 col-md-1">
                  <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" />
                </div>
                <div class="col-xs-10 col-mßd-11">
                  <h4><%= link_to "#{issue.title}", issue_path(issue) %></h4>
                  <div class="comment-text">
                    <%= truncate(strip_tags(issue.content), length: 100 ) %>
                    <br />
                    <%= link_to "瀏覽更多", issue_path(issue) %>
                  </div>
                  <div class="mic-info">
                    <p>
                       by <%= link_to "#{issue.user.name}", user_path(issue.user) %> 
                      | <%= "#{issue.edit_time.localtime.to_s(:long)}" %>
                      | <span class="glyphicon glyphicon-comment"></span> <%= "#{issue.comments_count}" %> 則留言
                      | <span class="glyphicon glyphicon-eye-open"></span> <%= "#{issue.views_count}" %> 瀏覽數
                      | <span class="glyphicon glyphicon-heart"></span> <%= "#{issue.likes_count}" %> 讚
                      | <span class="glyphicon glyphicon-bookmark"></span> <%= "#{issue.bookmarks_count}" %> 人收藏
                      | <span class="glyphicon glyphicon-tags"></span> 標籤: 
                        <% issue.taged_topics.take(5).each do |tagged| %>
                          <span class="label label-info"><%= "#{tagged.name}" %></span>
                        <% end %>
                        <% if issue.taged_topics.count > 6 %>
                          ...
                        <% end %>
                    </p>
                  </div>
                  
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="panel-footer", style="text-align: center">
        <div class="row">
          <%= paginate @issues %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  後端送出之變數說明：
  @base   為顯示議題列表之topic
  @center Xplorer map 中心主題
  @link1 ~ @link4 與中心主題為相關的四個主題 (以關聯度排序)
-->

<!--
  Topic_path變數說明：
  :id     為顯示議題列表之 topic_id
  :center 下一頁 Xplorer map 中心 topic_id
  :from   這一頁 Xplorer map 中心 topic_id
  :page   第0/1張以 @center 為中心的 Xplorer map
-->

<!--
  Topic_path變數說明：
  :id     為顯示議題列表之 topic_id
  :center 下一頁 Xplorer map 中心 topic_id
  :from   這一頁 Xplorer map 中心 topic_id
  :page   第0/1張以 @center 為中心的 Xplorer map
-->

<!--
  Xplorer Map View Log 說明：
  @log 屬於 Topic class (Topic Model)
  可顯示 id/name/avatar/topic_link1_id~topic_link8_id/followers_count/links_count(尚未完成)

  由上一步->上兩步->上三步->----
  目前後端提供前10步紀錄，如須增刪可再討論。
-->
<h3>Base Topic: <%= @base.name %></h3>
<% if current_user %>
  <% if current_user.followingtopic?(@base) %>
    <h5><%= link_to "Unfollow", topic_followship_path(@base), method: :delete %></h5>
  <% else %>
    <h5><%= link_to "Follow", topic_followships_path(:topic_id => @base), method: :post %></h5>
  <% end %>
<% end %>

<h3>
  <%= link_to "#{@center.name}", topic_path(@center.id, :center => @center.id, :from => @center.id, :page_num => @page) %>
  <%= link_to "(Regen)"        , topic_path(  @base.id, :center => @center.id, :from => @center.id, :page_num => @page) %>
</h3>
<ul><%= link_to "#{ @link1.name}", topic_path(  @base.id, :center =>  @link1.id, :from => @center.id, :page_num => 0) %></ul>
<ul><%= link_to "#{ @link2.name}", topic_path(  @base.id, :center =>  @link2.id, :from => @center.id, :page_num => 0) %></ul>
<ul><%= link_to "#{ @link3.name}", topic_path(  @base.id, :center =>  @link3.id, :from => @center.id, :page_num => 0) %></ul>
<ul><%= link_to "#{ @link4.name}", topic_path(  @base.id, :center =>  @link4.id, :from => @center.id, :page_num => 0) %></ul>

<h3> Xplorer Map View Log </h3>
<% @logs.each do |log| %>
  <ul><%= "#{log.name}" %><br></ul>
<% end %>

<!--
  以下註解單純說明目前 fake data 邏輯，可刪除
  目前 fake data 會產生 link1 亂數 id，link2~link8 依序累加
  ex: link1 == 31 ==> link2~8 == 32~38
      以:page_num 區分，page1 顯示 31~34 / page2 顯示 35~38
-->

