<% case notification.action %>
  <% when "followed" %>
    <% notification_avatar = "https://cdn4.iconfinder.com/data/icons/mayssam/512/user-128.png" %>
    <% notification_content = "追蹤了你!" %>
  <% when "liked" %>
    <% notification_avatar = "https://cdn4.iconfinder.com/data/icons/mayssam/512/heart-128.png" %>
    <% notification_content = "喜歡你的議題: #{notification.content}" %>
    
  <% when "bookmarked" %>
    <% notification_avatar = "https://cdn4.iconfinder.com/data/icons/mayssam/512/star-128.png" %>
    <% notification_content = "收藏你的議題: #{notification.content}" %>
  <% when "replied" %>
    <% notification_avatar = "https://cdn4.iconfinder.com/data/icons/mayssam/512/pen-128.png" %>
    <% notification_content = "回覆了你在 #{notification.content} 下的留言" %>
  <% when "commented" %>
    <% notification_avatar = "https://cdn4.iconfinder.com/data/icons/mayssam/512/pen-128.png" %>
    <% notification_content = "在你的議題 #{notification.content} 下留言" %>
<% end %>

<li>
  <div class="media">
    <div class="media-left">
      <img src=<%= notification_avatar %> class="media-object cat-icon rounded-circle" alt="...">
    </div>
    <div class="media-body">
      <%= link_to user_path(notification.user) do %>
        <img src=<%= notification.user.avatar.url %> class="avatar rounded" alt="...">
      <% end %>
      <% if notification.read == false %>
        <span class="label label-danger">NEW</span>
        <span class="label label-default"><%= link_to "標為已讀", mark_as_read_notification_path(notification), method: :POST, remote: true %></span>
      <% end %>
      <a href=<%= notification.link %> >
      <div>
        <p class="media-heading"><b><%= notification.user.name %></b> <%= notification_content %></p>
        <span class="notification-date"><%= notification.created_at.localtime.to_s(:long) %></span>
      </div>
      </a>
    </div>
  </div>
</li>