<%= form_for @user  do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="well profile custom-well row">
          <div class="col-sm-12">
            <div class="col-xs-4 col-sm-4 text-center">
              <figure>
                <%= image_tag @user.avatar.url, width: '300px' if @user.avatar? %>
                <%= f.file_field :avatar %>
              </figure>
            </div>
            <div class="col-xs-8 col-sm-8">
              <p><strong>暱稱: </strong><%= f.text_field :name, class: "form-control" %></p>
              <p><strong>電子郵件: </strong><%= f.text_field :email, class: "form-control", disabled: true %></p>
              <p><strong>簡介: </strong><%= f.text_area :introduction, class: "form-control", rows: "2" %></p>
              <p><strong>技能: 請使用","分開，例如Java, C#, C++</strong><%= f.text_field :skill_list,  value: f.object.skill_list.join(', '), class: "form-control" %></p>
              <p>
                <%= f.submit class: "btn btn-info btn-primary" %>
                <%= f.button "Cancel", type: :reset, class: "btn btn-secondary btn-default" %>
              </p>
            </div>    
          </div>
        </div>                 
      </div>
    </div>
  </div>
<% end %>