<h1>個人頁面</h1>

<% if @user == current_user %>
  <%= link_to('修改個人檔案', edit_user_path(@user)) %>
  <br>
<% end %>  

Avatar:
<br>
<% if @user.avatar? %>
  <%= image_tag @user.avatar.url, width: '300px' %>
<% end %>
<br>
Name:
<%= @user.name %>
<br>
Email:
<%= @user.email %>
<br>
Introduction:
<%= @user.introduction %>
<br>
Skill:
<br>
My X Map:
For test
<br>
My Bookmark Issue:
For test